doctype html
html
  head
    title Thanks for your order!
    link(rel="stylesheet", href="style.css")
  body
    section
      p
        | Thank you for your purchase, #{name}!
      ul
        li
          strong Status:
          |  #{status}
        li
          strong Order ID:
          |  #{orderId}
        li
          strong Order Email:
          |  #{orderEmail}
        li
          strong User Email:
          |  #{userEmail}